body {
  background: #f9f9f9;
}

.page-title {
  display: block;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px !important;
  margin-left: auto;
  margin-right: auto;
}

.form-container {
  width: 400px;
  margin: auto;
}

.ui.teal.button:focus,
.ui.teal.buttons .button:focus {
  background-color: #00b5ad;
}
